<h2>Ratings</h2>

<strong>Total number of ratings: <%= @ratings.count %></strong>


<ul>
  <% @ratings.each do |rating| %>
    <li><%= rating %> <%= link_to rating.user.username, user_path(rating.user)  %></li>
  <% end %>
</ul>

<p><%= link_to 'new rating', new_rating_path %></p>

