<h2>Ratings</h2>

<strong>Total number of ratings: <%= @ratings.count %></strong>


<ul>
  <% @ratings.each do |rating| %>
    <li><%= rating %></li>
  <% end %>
</ul>

<p>To be completed...</p>